.footer{
 margin: 67px 200px 60px;
 

}

.footer__description {
    
 color: #545454;
 font-size: 18px;
 font-family: Inter, Arial, sans-serif;
 font-weight: 400;
 word-wrap: break-word;
 max-width: 318px;
 max-height: 18px;
}

@media screen and (max-width: 480px) {
    .footer {
        margin-top: 1582px;
        margin-left: 19px;
        margin-bottom: 32px;
        width: 282px;
        height: 14px;
        
    }
    .footer__description {
        max-width: 282px;
        max-height: 14px;
        color: #545454;
        font-size: 14px;
        font-family: Inter;
        font-weight: 400;
        word-wrap: break-word;
    }
}