.footer {
  margin: 67px auto;
  max-width: 880px;
}

.footer__description {
  color: #545454;
  font-size: 18px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 48px 0 36px;
  }

  .footer__description {
    font-size: 14px;
    margin-left: 19px;
  }
}
