.header {
    margin: 45px 200px 0;
    max-width: 880px;
}

.header__image {
   padding: 0;
  
   
}

.header__title {
    margin-left: 200px;
    margin-right: 200px;
}

@media screen and (max-width: 480px) {

    .header__title {
        margin-left: 27px;
    }
}