.header {
    margin: 45px 200px 0;
    max-width: 880px;
    
}

.header__image {
   padding: 0;
  
   
}


@media screen and (max-width: 480px) {

    .header {
        width: 320px;
        height: 50px;
        margin-left: 19px;
    }

    .header__title {
        margin: 0;
    }
}

@media screen and (max-width: 1280px) {
   
    .header {
        margin-left: 205px;
    }
   
    .header__title {
    margin: 0;
    }
}